body {
background-color: #b1b8e2;
}

a {
color: #003ec4;
font-family: 'Century', sans-serif
}

a:visited {
    color: #031474
}

a:hover:link {
    color: #4c85db
}

a:hover:visited {
    color: #3a5981
}

footer {
    font-family: 'Georgia'
}

h1 {
color:black;
font-family: 'Segoe UI'
}

p {
font-family: sans-serif
}

