body {
background-color: #b1b8e2;
}

.menu {
list-style-type: none
}

.tth {
color:#005500;
font-style: none;
font-weight: 500;
}

.header a:hover{
    color: #00f7ff
}

a {
color: #003ec4;
font-family: 'Century', sans-serif
}

a:visited {
    color: #031474
}

footer {
    font-family: 'Georgia';
    position: fixed;
    bottom: 0;
    width: 100%
}

h1 {
color:black;
font-family: 'Segoe UI'
}

h2 {
color:black;
font-weight: 400
}

h4 {
color:black;
font-style: italic 
}

input {
    font-size: 15px;
    color:#473e25;
    font-style: bold
}

textarea {
    font-size: 15px;
    color:#d0ff00;
    font-style: bold
}

#name {
    width: 300px;
    font-size: 15px;
    color:#473e25
}

#email:focus {
    width: 300px;
    font-size: 15px;
    color:#ffbb00;
    background-color: #040683
}

#phone {
    width: 300px;
    font-size: 15px;
    color:#473e25
}

#subj {
    width: 300px;
    font-size: 15px;
    color:#473e25
}

#msg {
    width: 300px;
    font-size: 15px;
    color:#9eb82b;
    text-transform: capitalize;
}
